<div class="card text-center">
  <!-- <div class="card-header">
    Featured
  </div> -->
  <div class="card-body">
    <h5 class="card-title">MACD</h5>
    <p class="card-text">Buy on bullish crossover. Sell on bearish crossover.</p>
    <p class="card-by"><span class="by">by</span> 369</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer">
    <div class="row">     
      <div class="col-sm">
        Recall: HIGH
      </div>
      <div class="col-sm">
        Precision: HIGH
      </div>
    </div>
  </div>
</div>