.card{
    margin-top:10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 300px;
}
.card-body{
    text-align: left;
}
.card-title{
    font-size: 25px;
}
.card-text{
    font-size: 20px;
}
.card-by{
    position: absolute;
    bottom: 50px;
}
.by{
    color: rgba(255, 255, 255, 0.8)
}
.card-footer{
    background-color: rgba(0,0,0,0.1);
}